
body {
    background-color: rgb(32, 31, 31);
}

#searchButton {
    background-color: rgb(83, 57, 231);
    box-shadow: 2px 3px 10px rgb(76, 24, 189);
}

.title {
    background-color: rgb(83, 57, 231);
    box-shadow: 2px 3px 10px rgb(76, 24, 189);
}

.currentWeather {
    background-color: rgb(83, 57, 231);
    box-shadow: 2px 3px 10px rgb(76, 24, 189);
}

.card {
    background-color: rgb(83, 57, 231);
    box-shadow: 2px 3px 10px rgb(76, 24, 189);
}