
body {
    background-color: rgb(32, 31, 31);
}

.headerText {
    font-size: 50px;
}

#searchButton {
    background-color: rgb(83, 57, 231);
    box-shadow: 2px 3px 10px rgb(76, 24, 189);
}

.title {
    background-color: rgb(83, 57, 231);
    box-shadow: 2px 3px 10px rgb(76, 24, 189);
    height: 10vh;
}

.currentWeather {
    background-color: rgb(83, 57, 231);
    box-shadow: 2px 3px 10px rgb(76, 24, 189);
}

.card {
    background-color: rgb(83, 57, 231);
    box-shadow: 2px 3px 10px rgb(76, 24, 189);
}

.previous{
    background-color: rgb(87, 80, 128);
    box-shadow: 2px 3px 10px rgb(135, 94, 223);
}